{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css" />
{% endblock %}


{% block content %}
<nav class="navbar navbar-expand navbar-dark fixed-top">
	<a href="/" class="navbar-brand">にほんぜんこくかららんだむにいきさきをきめるすごいシステム</a>
	<ul class="navbar-nav">
		<li class="nav-item"><a href="/" class="nav-link">郵便番号から生成</a></li>
	</ul>
</nav>

<div class="container-fluid">
	<a id="destination"></div>
	<a id="pos_lat"></a>
	<a id="pos_lng"></a>
   	<input type="button" value="実行" onclick="execSmoothZoom();"/><br />
	<div class="row h-100">
		<div class="col-md-10 p-0 bg-sidebar">
			<div class="main h-100">
				<div class="map" id="map"></div>
			</div>
		</div>
	</div>
</div>


<!-- script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKNXX63b2ThgVMHHROSJRoolzIamSyur4" ></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/js/index.js') }}"></script>
{% endblock %}
